body{
    background-color: honeydew;
    margin: 0;
    padding: 20px;
    align-items: center;
    color: black;
}
h1{
    margin: 0;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
}
button{
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: aquamarine;
    border: none;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
}